<ng-template #searchSettings>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" [(ngModel)]="hideHiddenCharacters" id="fcm-hidden" />
        <label class="form-check-label font-weight-bold" for="fcm-hidden">Hide hidden characters</label>
        <small class="form-text">
            If checked, hidden characters (that are available to you) will not be displayed in results
        </small>
    </div>
</ng-template>
<cb-character-list-toolbar
    [universe]="universe"
    class="border-bottom"
    (search)="search.emit($event)"
></cb-character-list-toolbar>
<div
    class="list-group overflow-auto h-100"
    [class.list-group-flush]="flush"
    [class.paged]="total > pageLimit"
    *ngIf="characters.length; else noCharacters"
    #list
>
    <a
        cb-character-list-item
        *ngFor="let character of getCharacters(); last as isLast"
        [character]="character"
        [routerLink]="['c', character.id]"
        [showAvatar]="universe.settings.allowAvatars"
        routerLinkActive="list-group-item-secondary"
    ></a>
</div>
<ng-template #noCharacters>
    <p class="text-muted text-center mb-0 mt-4">
        There don't appear to be any characters.<br />
        <a [routerLink]="['c', 'new']">Why not create one?</a>
    </p>
</ng-template>
<footer class="d-flex justify-content-between">
    <pagination
        [align]="true"
        [totalItems]="total"
        [maxSize]="5"
        [itemsPerPage]="pageLimit"
        [rotate]="true"
        [style.visibility]="total > pageLimit ? 'visible' : 'hidden'"
        (pageChanged)="onPageChange($event.page)"
    ></pagination>
    <button class="btn btn-link ml-auto" [popover]="searchSettings" placement="top" [outsideClick]="true">
        <i class="fas fa-cog"></i>
    </button>
</footer>
