<form [formGroup]="searchForm">
    <input
        type="text"
        class="search w-100"
        [placeholder]="'Search ' + universe.name + '…'"
        (input)="search.emit($event.target.value)"
        autofocus
        size="1"
        formControlName="search"
        #s
    />
</form>
<!--<button class="btn btn-light text-dark toolbar-btn border-left"><i class="fas fa-caret-down"></i></button>-->
<a class="btn btn-primary text-white toolbar-btn" [routerLink]="['c', 'new']"><i class="fas fa-user-plus"></i></a>
