.search {
    border: 0;
    padding: 1em;
    outline-width: 0;
}

form {
    flex-grow: 1;
}

:host {
    display: flex;
    flex-shrink: 0;
}

.toolbar-btn {
    border-radius: 0;
    border: 0;
    display: flex;
    align-items: center;
}
