:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.list-group a:first-child {
    border-top: 0;
}

.list-group a:last-child {
    border-bottom: 1px solid #dee2e6 !important;
}

.list-group a.list-group-item-secondary:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.list-group.paged a:last-child,
.list-group.paged a.list-group-item-secondary:last-child {
    border-bottom: none !important;
}

footer {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    padding: 0;
    margin: auto 0 0;
}

pagination {
    overflow-x: auto;
    ::ng-deep {
        a {
            border: 0;
        }

        ul {
            padding: 0;
            margin: 0;
        }

        li a {
            padding: 0.75rem;
            border-radius: 0 !important;
        }
    }
}
