<ng-container [ngSwitch]="mode">
    <div class="list-group mb-2" *ngSwitchCase="CharacterListMode.List">
        <a
            cb-character-list-item
            *ngFor="let character of sortedCharacters"
            [character]="character"
            [mode]="mode"
            [caption]="character && getListCaption(character)"
            [routerLink]="['c', character.meta.id]"
            [sort]="query"
        ></a>
    </div>
    <div class="btn-toolbar">
        <a
            class="btn btn-link mr-2"
            [routerLink]=""
            [queryParams]="{ b: characters[0].meta.id }"
            *ngIf="canMovePrevious"
        >
            Previous
        </a>
        <a
            class="btn btn-link"
            [routerLink]=""
            [queryParams]="{ a: characters[characters.length - 1].meta.id }"
            *ngIf="canMoveNext"
            >Next</a
        >
    </div>
</ng-container>
