<div class="input-group mr-4">
    <div class="input-group-prepend"><span class="input-group-text">Sort by</span></div>
    <select class="custom-select" [value]="query.sort" (change)="changeQuery({ sort: $event.target.value })">
        <option [value]="CharacterSort.Relevance" disabled>Relevance</option>
        <option [value]="CharacterSort.Name">Name</option>
        <option [value]="CharacterSort.DateCreated">Date Created</option>
        <option [value]="CharacterSort.LastUpdated">Last Updated</option>
    </select>
</div>
<div class="input-group mr-4">
    <div class="input-group-prepend"><span class="input-group-text">Filter by</span></div>
    <select class="custom-select" [value]="query.filter" (change)="changeQuery({ filter: $event.target.value })">
        <option value="">None</option>
        <optgroup *ngFor="let group of (guideGroups | filterFields | keyvalue)" [label]="group.key">
            <option *ngFor="let option of group.value" [value]="group.key + '.' + option">{{ option }}</option>
        </optgroup>
    </select>
</div>
<form class="input-group mr-4 search" [formGroup]="searchForm">
    <input type="text" class="form-control" #search disabled />
    <div class="input-group-append"><button type="submit" class="btn btn-outline-primary" disabled>Search</button></div>
</form>
<button type="button" class="btn btn-outline-success" routerLink="c/new">
    <i class="fas fa-plus mr-2"></i><span class="d-none d-lg-inline">Create Character</span>
</button>
