<ng-container *ngIf="{ characters: characters$ | async, universe: universe$ | async } as data">
    <ng-template #trailing>
        <p class="ml-2 mb-0 text-muted">Owned by {{ getOwner().user.displayName }}</p>
        <h5 class="ml-auto">{{ totalCharacters }}<i class="fas fa-users ml-2"></i></h5>
        <h5 class="ml-4">{{ collaborators.length }}<i class="fas fa-user-edit ml-2"></i></h5>
        <h5 class="ml-4" *ngIf="isOwner()">
            <a routerLink="edit/general"><i class="fas fa-cog text-body"></i></a>
        </h5>
    </ng-template>
    <ng-template #content>
        <p
            class="lead text-muted description"
            [class.clickable]="canToggleDescription(data.universe.description)"
            (click)="toggleDescription()"
        >
            {{
                descriptionHidden && canToggleDescription(data.universe.description)
                    ? (data.universe.description | truncate: 240)
                    : data.universe.description
            }}
        </p>
    </ng-template>
    <cb-header [title]="data.universe.name" [content]="content" [trailing]="trailing"></cb-header>
    <div class="list border-right">
        <cb-character-list
            [characters]="data.characters"
            flush="true"
            [universe]="data.universe"
            (search)="onSearch($event)"
            (includeHidden)="onIncludeHidden($event)"
            (page)="onPage($event)"
            [total]="totalCharacters"
            (sort)="onSort($event)"
        ></cb-character-list>
    </div>
    <div class="view">
        <router-outlet></router-outlet>
    </div>
</ng-container>
