<ng-template #input>
    <select
        class="custom-select"
        [id]="controlId"
        [autofocus]="autofocus"
        (change)="setValue($event.target.value)"
        (blur)="onTouched()"
        [value]="value"
        [disabled]="disabled"
    >
        <option *ngFor="let o of options" [value]="o"> {{ o }} </option>
    </select>
    <small class="text-muted form-text" *ngIf="help">{{ help }}</small>
</ng-template>
<div class="form-group" [class.row]="horizontal">
    <label [for]="controlId" [ngClass]="{ 'col-sm-2 col-form-label': horizontal }">{{ name }}</label>
    <label class="float-right">
        <ng-container [ngTemplateOutlet]="labelToolbar" [ngTemplateOutletContext]="labelToolbarContext"></ng-container>
    </label>
    <div class="col-sm-10 my-auto" *ngIf="horizontal; else input">
        <ng-container *ngTemplateOutlet="input"></ng-container>
    </div>
</div>
