<form [formGroup]="signupForm" (submit)="onSubmit()" #form="ngForm">
    <div class="alert alert-danger" *ngIf="status.error">{{ status.error }}</div>
    <cb-input-control
        [autofocus]="true"
        name="Display Name"
        type="text"
        formControlName="displayName"
    ></cb-input-control>
    <cb-input-control name="Email Address" type="email" formControlName="emailAddress"></cb-input-control>
    <cb-input-control name="Password" type="password" formControlName="password"></cb-input-control>
    <cb-submit-button text="Register" [canSubmit]="canSubmit" [loading]="status.loading"></cb-submit-button>
</form>
