:host {
    display: block;
}

input.ng-invalid:not(.ng-dirty),
textarea.ng-invalid:not(.ng-dirty) {
    border-color: #ffc107;
}

input.ng-invalid:not(.ng-dirty):focus,
textarea.ng-invalid:not(.ng-dirty):focus {
    box-shadow: 0 0 0 0.2rem rgba(216, 203, 22, 0.25);
}
