<div class="container dashboard-container">
    <h1>Settings</h1>
    <hr>
    <p class="text-muted mb-4">You are currently logged in as:
        <span class="text-body">{{ (user | async)?.email }}</span>
    </p>
    <form [formGroup]="displayNameForm" #form="ngForm" (submit)="submitDisplayName()">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">Display Name</div>
            </div>
            <input class="form-control w-auto" formControlName="displayName" #f>
        </div>
        <button type="submit" class="btn btn-primary mt-2 mb-4" [disabled]="!form.valid || loading || f.value == currentDisplayName">
            <ng-container *ngIf="!loading">Save</ng-container>
            <ng-container *ngIf="loading"><i class="fas fa-spinner fa-spin"></i></ng-container>
        </button>
    </form>
    <button type="button" class="btn btn-danger mt-4" (click)="deleteAccount()">Delete account</button>
</div>