.logo {
    width: 384px;
}

.btn {
    width: 150px;
}

.center-page {
    background-image: url("/assets/landings/v0.3.0.jpg");
    animation: fadein;
    animation-delay: 2s;
}

@keyframes fadein {
    from {
        filter: brightness(100);
    }
    to {
        filter: brightness(0);
    }
}
