<ng-template #avatarModal>
    <img class="modal-body avatar-big" [src]="avatarUrl" />
</ng-template>
<div class="flex-row d-flex align-items-center">
    <img class="avatar mr-2 clickable" [src]="avatarUrl" *ngIf="showAvatar" (click)="openModal(avatarModal)" />
    <div class="d-flex flex-column">
        <div class="d-flex flex-row align-items-center">
            <h4 class="mb-0" [class.mr-2]="character.tag">{{ character.name }}</h4>
            <small class="text-muted font-italic tag">{{ character.tag | truncate: 24 }}</small>
        </div>
        <span class="text-muted">Owned by {{ character.owner.displayName }}</span>
        <small class="text-warning" *ngIf="character.meta.hidden">Hidden<i class="fas fa-eye-slash ml-2"></i></small>
    </div>
</div>
<div>
    <div class="btn-group" *ngIf="canEdit" dropdown placement="bottom right">
        <a class="btn btn-primary text-white" [routerLink]="['./', 'edit']"
            ><i class="fas fa-user-edit mr-2"></i>Edit</a
        >
        <button type="button" dropdownToggle class="btn btn-primary dropdown-toggle dropdown-toggle-split">
            <span class="caret"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
            <button class="dropdown-item text-danger" type="button" (click)="deleted.emit()">
                <i class="fas fa-trash mr-2"></i>Delete
            </button>
        </ul>
    </div>
</div>
