<cb-character-view-toolbar
    [character]="character"
    [canEdit]="canEdit"
    (deleted)="deleted.emit()"
    [showAvatar]="universe.settings.allowAvatars"
></cb-character-view-toolbar>
<ng-container *ngIf="getCanView(); else noView">
    <ng-container *ngFor="let group of getGuideGroups(); let i = index">
        <cb-character-view-group
            [characterGroup]="getCharacterGroup(group.name)"
            [guideGroup]="group"
            [canViewHidden]="canEdit"
            *ngIf="group.required || getCharacterGroup(group.name)"
        ></cb-character-view-group>
    </ng-container>
</ng-container>
<ng-template #noView>
    <p class="text-muted text-center font-italic m-4" *ngIf="character.meta.hidden">This character is hidden</p>
</ng-template>
