:host {
    margin: 0 0.5rem 0.5rem;
}

.avatar {
    width: 72px;
    height: 72px;
}

.avatar-big {
    width: 256px;
    height: 256px;
    border-radius: 1.3rem;
}

.tag {
    word-break: break-all;
}
