<ng-container *ngIf="{ universe: universe$ | async, character: character$ | async } as data">
    <ng-template #deleteModal>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Deleting {{ data.character.name }}…</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="deleteModalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Are you <strong>sure</strong> you want to delete this character? This action cannot be reversed!
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="deleteModalRef.hide()">Cancel</button>
            <button type="button" class="btn btn-danger" (click)="onDelete()">Delete</button>
        </div>
    </ng-template>
    <ng-container>
        <cb-character-view
            [character]="data.character"
            [images]="{}"
            [guide]="data.universe.guide"
            class="mb-2"
            [canEdit]="canEdit$ | async"
            (deleted)="openModal(deleteModal)"
            [universe]="data.universe"
        ></cb-character-view>
        <footer class="text-muted mb-3 mx-2" *ngIf="!data.character.meta.hidden || (canEdit$ | async)">
            <small>Created: {{ data.character.createdAt }}</small>
            <br />
            <small>Last updated: {{ data.character.updatedAt }}</small>
        </footer>
    </ng-container>
</ng-container>
