:host {
    margin: 0 0.5rem 0.5rem;
    flex-flow: nowrap;
}

.avatar {
    width: 72px;
    height: 72px;
}

.avatar-big {
    width: 512px;
    height: 512px;
    border-radius: 1.3rem;
}

.tag {
    word-break: break-all;
}

.name {
    word-wrap: anywhere;
}
