<div class="alert alert-dark px-3 py-2 m-2 clickable" (click)="toggleCollapse()">
    {{ guideGroup.name }}
    <button type="button" class="close">
        <i class="fas fa-angle-down" *ngIf="collapsed"></i>
        <i class="fas fa-angle-up" *ngIf="!collapsed"></i>
    </button>
    <span class="float-right mr-3 font-italic" *ngIf="collapsed">
        +{{ getCharacterFields().length }} {{ getCharacterFields().length > 1 ? "entries" : "entry" }}
    </span>
</div>
<div class="fields" *ngIf="!collapsed">
    <ng-container *ngFor="let field of guideGroup.fields">
        <cb-character-view-field
            *ngIf="field.required"
            [guideField]="field"
            [characterField]="getCharacterField(field.name)"
            [canViewHidden]="canViewHidden"
        ></cb-character-view-field>
    </ng-container>
</div>
