<ng-template #avatarModal>
    <img class="modal-body avatar-big clickable" [src]="avatarUrl" (click)="modalRef.hide()" />
</ng-template>
<div class="flex-row d-flex align-items-center">
    <img class="avatar mr-2 clickable" [src]="avatarUrl" *ngIf="showAvatar" (click)="openModal(avatarModal)" />
    <div class="d-flex flex-column">
        <div class="d-flex flex-row align-items-center">
            <h4
                class="mb-0 name"
                [class.mr-2]="character.tag"
                [class.clickable]="character.name.length > 24"
                (click)="toggleExpandName()"
            >
                {{ expandName ? character.name : (character.name | truncate: 24) }}
            </h4>
            <small
                class="text-muted font-italic tag"
                [class.clickable]="character.tag.length > 18"
                (click)="toggleExpandTag()"
            >
                {{ expandTag ? character.tag : (character.tag | truncate: 18) }}
            </small>
        </div>
        <span class="text-muted">Owned by {{ character.owner.displayName }}</span>
        <small class="text-warning" *ngIf="character.meta.hidden; else someHidden">
            Hidden<i class="fas fa-eye-slash ml-1"></i>
        </small>
        <ng-template #someHidden>
            <ng-container *ngIf="canEdit">
                <small class="text-info" *ngIf="hasHiddenFields(); else publicView">
                    Some fields hidden<i class="fas fa-eye-slash ml-1"></i>
                </small>
                <ng-template #publicView>
                    <small class="text-info">Public<i class="fas fa-eye ml-1"></i></small>
                </ng-template>
            </ng-container>
        </ng-template>
    </div>
</div>
<div class="ml-2">
    <div class="btn-group" *ngIf="canEdit" dropdown placement="bottom right">
        <a class="btn btn-primary text-white" [routerLink]="['./', 'edit']"
            ><i class="fas fa-user-edit mr-2"></i>Edit</a
        >
        <button type="button" dropdownToggle class="btn btn-primary dropdown-toggle dropdown-toggle-split">
            <span class="caret"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
            <button class="dropdown-item text-danger" type="button" (click)="deleted.emit()">
                <i class="fas fa-trash mr-2"></i>Delete
            </button>
        </ul>
    </div>
</div>
