:host {
    margin: 0.5rem;
    flex-grow: 1;
}

p,
markdown {
    word-break: break-all;
}

.card-header,
.list-group {
    text-align: center;
}

.list-group {
    max-height: 10rem;
    overflow: auto;
}

.card-body:not(.hidden) {
    display: flex;
    align-items: center;
    justify-content: center;
}

:host.field-description,
:host.field-progress.bar {
    width: 100%;
}
