<form [formGroup]="characterForm" #form="ngForm" (submit)="onSubmit($event)" autocomplete="off" *ngIf="formReady">
    <div class="alert alert-danger" *ngIf="error">{{ error }}</div>
    <div class="d-flex">
        <div class="divider mr-3 pr-3" *ngIf="universe.advanced.allowAvatar">
            <cb-image-upload
                *ngIf="universe.advanced.allowAvatar"
                title="avatar"
                [canMinimize]="false"
                [initialImage]="
                    preload ? (preload.images['avatar'] ? preload.images['avatar'].publicUrl : undefined) : ''
                "
                [doCrop]="true"
                (uploaded)="uploadPicture('avatar', $event)"
            ></cb-image-upload>
            <input
                type="text"
                class="form-control form-control-lg mb-2 mt-2 text-center name"
                [placeholder]="universe.advanced.titleField"
                formControlName="name"
            />
            <button type="submit" class="btn btn-primary btn-block" [disabled]="!canSubmit">
                <ng-container *ngIf="!status.loading">{{
                    !form.dirty ? "All changes saved" : mode == CharacterEditMode.Create ? "Create" : "Save changes"
                }}</ng-container>
                <ng-container *ngIf="status.loading"><i class="fas fa-spinner fa-spin"></i></ng-container>
            </button>
        </div>
        <div class="fields" formArrayName="fieldGroups">
            <ng-container *ngFor="let group of getFieldGroupControls(); let i = index" [formGroupName]="i">
                <cb-title-divider [text]="group.get('name').value"></cb-title-divider>
                <ng-container formGroupName="fields">
                    <div
                        *ngFor="let field of getInnerGroupFieldsKV(group); let j = index; trackBy: trackFields"
                        class="form-group row"
                        [class.field-disabled]="field.value.disabled"
                        [formGroupName]="field.key"
                    >
                        <div class="col-sm-1 require-check">
                            <div
                                class="form-check"
                                [style.display]="field.value.guideMeta.required ? 'none' : 'inline'"
                            >
                                <input
                                    type="checkbox"
                                    class="form-check-input"
                                    [checked]="!field.value.disabled"
                                    (click)="toggleFieldHidden($event, i, field.key)"
                                    #requireCheck
                                />
                            </div>
                        </div>
                        <label
                            [for]="genInputId(i, j)"
                            [class.label-info]="field.value.guideMeta.info"
                            [tooltip]="field.value.guideMeta.info"
                            class="col-sm-2"
                            [class.col-form-label]="field.value.guideMeta.type !== CharacterFieldType.Toggle"
                            >{{ field.key }}</label
                        >
                        <ng-container [ngSwitch]="field.value.guideMeta.type">
                            <ng-container *ngSwitchCase="CharacterFieldType.Text">
                                <div class="col-sm-9">
                                    <input
                                        [id]="genInputId(i, j)"
                                        type="text"
                                        class="form-control"
                                        formControlName="value"
                                    />
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="CharacterFieldType.Description">
                                <div class="col-sm-9">
                                    <textarea
                                        [id]="genInputId(i, j)"
                                        class="form-control"
                                        [class.t-markdown]="field.value.guideMeta['markdown']"
                                        formControlName="value"
                                        rows="6"
                                    >
                                    </textarea>
                                    <small class="text-muted" *ngIf="field.value.guideMeta['markdown']"
                                        >* This field supports
                                        <a href="https://www.markdownguide.org/cheat-sheet/" target="_blank"
                                            >Markdown syntax</a
                                        ></small
                                    >
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="CharacterFieldType.Number">
                                <div class="col-sm-9">
                                    <input
                                        [id]="genInputId(i, j)"
                                        type="number"
                                        class="form-control w-auto"
                                        [min]="field.value.guideMeta['min']"
                                        [max]="field.value.guideMeta['max']"
                                        formControlName="value"
                                    />
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="CharacterFieldType.Toggle">
                                <div class="col-sm-9 require-check">
                                    <div class="form-check">
                                        <input
                                            [id]="genInputId(i, j)"
                                            type="checkbox"
                                            class="form-check-input"
                                            formControlName="value"
                                            defaultValue="false"
                                        />
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="CharacterFieldType.Progress">
                                <div class="progress">
                                    <input
                                        [id]="genInputId(i, j)"
                                        type="range"
                                        class="custom-range"
                                        [step]="field.value.guideMeta['tick']"
                                        [min]="field.value.guideMeta['min']"
                                        [max]="field.value.guideMeta['max']"
                                        [value]="field.value.value"
                                        formControlName="value"
                                        #r
                                    />
                                </div>
                                <div class="progress-input">
                                    <input
                                        class="form-control w-auto"
                                        type="number"
                                        [min]="field.value.guideMeta['min']"
                                        [max]="field.value.guideMeta['max']"
                                        formControlName="value"
                                        [value]="field.value.value"
                                    />
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="CharacterFieldType.Reference">
                                <div class="col-sm-9">
                                    <input
                                        [id]="genInputId(i, j)"
                                        type="text"
                                        class="form-control w-auto"
                                        formControlName="value"
                                    />
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="CharacterFieldType.Options">
                                <div class="col-sm-9">
                                    <ng-container *ngIf="field.value.guideMeta['multiple']; else: nomult">
                                        <select
                                            [id]="genInputId(i, j)"
                                            class="custom-select w-auto"
                                            formControlName="value"
                                            multiple
                                        >
                                            <option
                                                *ngFor="let option of field.value.guideMeta['options']"
                                                [ngValue]="option"
                                            >
                                                {{ option }}
                                            </option>
                                        </select>
                                        <small class="text-muted">* This field supports multiple entries</small>
                                    </ng-container>
                                    <ng-template #nomult>
                                        <select
                                            [id]="genInputId(i, j)"
                                            class="custom-select w-auto"
                                            formControlName="value"
                                        >
                                            <option
                                                *ngFor="let option of field.value.guideMeta['options']"
                                                [ngValue]="option"
                                            >
                                                {{ option }}
                                            </option>
                                        </select>
                                    </ng-template>
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="CharacterFieldType.List">
                                <div class="col-sm-9">
                                    <input
                                        [id]="genInputId(i, j)"
                                        type="text"
                                        class="form-control"
                                        formControlName="value"
                                    />
                                    <small class="text-muted"
                                        >* This field supports multiple comma-separated entries</small
                                    >
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="CharacterFieldType.Picture">
                                <div class="col-sm-9">
                                    <div class="w-50">
                                        <cb-image-upload
                                            [canMinimize]="true"
                                            [initialImage]="
                                                preload &&
                                                preload.images[generatePictureKey(group, field.value)]?.publicUrl
                                            "
                                            (uploaded)="uploadFormPicture(group, field.value, $event)"
                                            #c
                                        ></cb-image-upload>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
</form>
