<form [formGroup]="characterForm" #form="ngForm">
    <div class="d-flex">
        <div class="divider mr-3 pr-3">
            <div class="card mb-2" *ngIf="universe.advanced.allowAvatar">
                <img class="card-img-top avatar" [src]="avatarImgSrc ? avatarImgSrc : ''"/>
                <div class="card-body p-2 text-center">
                    <button type="button" class="btn btn-link card-link p-0" (click)="f.click()"><i class="fas fa-camera mr-2"></i>Upload Avatar</button>
                    <input type="file" class="custom-file-input d-none" (change)="onUploadAvatar($event)" #f>
                </div>
            </div>
            <input type="text" class="form-control form-control-lg mb-2 text-center" [placeholder]="universe.advanced.titleField" formControlName="name">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="!form.valid">Save</button>
        </div>
        <div class="fields" formArrayName="fieldGroups">
            <ng-container *ngFor="let group of fieldGroups.controls; let i=index" [formGroupName]="i">
                <cb-title-divider [text]="group.controls.name.value"></cb-title-divider>
                <ng-container formGroupName="fields">
                    <div *ngFor="let field of entries(group.controls.fields.controls); let j=index; trackBy:trackFields" class="form-group row" [class.field-disabled]="!requireCheck.checked">
                        <div class="col-sm-1 require-check">
                            <div class="form-check" [style.display]="field[1].guideMeta.required ? 'none' : 'inline'">
                                <input type="checkbox" class="form-check-input" checked (click)="toggleFieldHidden($event, i, field[0])" #requireCheck>
                            </div>
                        </div>
                        <ng-container [ngSwitch]="field[1].guideMeta.type">
                            <ng-container *ngSwitchCase="CharacterFieldType.Text">
                                <label [for]="genInputId(i,j)" class="col-sm-2 col-form-label">{{ field[0] }}</label>
                                <div class="col-sm-9">
                                    <input [id]="genInputId(i,j)" type="text" class="form-control" [formControlName]="field[0]">
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="CharacterFieldType.Description">
                                <label [for]="genInputId(i,j)" class="col-sm-2 col-form-label">{{ field[0] }}</label>
                                <div class="col-sm-9">
                                    <textarea [id]="genInputId(i,j)" class="form-control" [formControlName]="field[0]" rows="6"></textarea>
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="CharacterFieldType.Number">
                                <label [for]="genInputId(i,j)" class="col-sm-2 col-form-label">{{ field[0] }}</label>
                                <div class="col-sm-9">
                                    <input [id]="genInputId(i,j)" type="number" class="form-control w-auto" [min]="field[1].guideMeta.min" [max]="field[1].guideMeta.max" [formControlName]="field[0]">
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="CharacterFieldType.Toggle">
                                <label [for]="genInputId(i,j)" class="col-sm-2">{{ field[0] }}</label>
                                <div class="col-sm-9 require-check">
                                    <div class="form-check">
                                        <input [id]="genInputId(i,j)" type="checkbox" class="form-check-input" [formControlName]="field[0]" defaultValue="false">
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="CharacterFieldType.Progress">
                                <label [for]="genInputId(i,j)" class="col-sm-2 col-form-label">{{ field[0] }}</label>
                                <div class="progress">
                                    <input [id]="genInputId(i,j)" type="range" class="custom-range" [step]="field[1].guideMeta.tick" [value]="field[1].value" [formControlName]="field[0]" #r>
                                </div>
                                <div class="progress-input">
                                    <input class="form-control w-auto" type="number" [min]="field[1].guideMeta.min" [max]="field[1].guideMeta.max" [formControlName]="field[0]" [value]="field[1].value">
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="CharacterFieldType.Reference">
                                <label [for]="genInputId(i,j)" class="col-sm-2 col-form-label">{{ field[0] }}</label>
                                <div class="col-sm-9">
                                    <input [id]="genInputId(i,j)" type="text" class="form-control w-auto" [formControlName]="field[0]">
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="CharacterFieldType.Options">
                                <label [for]="genInputId(i,j)" class="col-sm-2 col-form-label">{{ field[0] }}</label>
                                <div class="col-sm-9">
                                    <select [id]="genInputId(i,j)" class="custom-select w-auto" [formControlName]="field[0]" [multiple]="field[1].guideMeta.multiple">
                                        <option *ngFor="let option of splitOptions(field[1].guideMeta.options); let index=i" [value]="option" [selected]="option == field[1].guideMeta.default">
                                            {{ option }}
                                        </option>
                                    </select>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
    {{ form.value | json }}
</form>