.avatar {
    height: 256px;
    width: 256px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

input.ng-invalid:not(.name),
textarea.ng-invalid {
    border-color: #dc3545;
}

input.ng-invalid:focus:not(.name),
textarea.ng-invalid:focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.avatar[src=""] {
    opacity: 0;
}

.fields {
    flex-grow: 1;
}

.custom-select {
    display: block;
}

.form-group:not(.check) {
    align-items: center;
}

.progress {
    flex-grow: 1;
    margin-left: 15px;
}

.progress input {
    background-color: white;
}

.progress-input {
    padding-left: 15px;
    padding-right: 15px;
}

.require-check {
    display: table;
    vertical-align: middle;
}

.require-check .form-check {
    display: inline;
}

.require-check ~ label {
    margin-bottom: 0;
}

.label {
    margin-bottom: inherit;
}

.field-disabled label {
    opacity: 0.5;
    user-select: none;
}

.field-disabled cb-image-upload {
    opacity: 0.5;
}

.label-info {
    text-decoration: underline dotted;
    cursor: help;
}

.t-markdown {
    font-family: monospace;
    font-size: 1em;
}
