<div class="list-group-item text-center">
    <a routerLink=""> <img class="logo" src="./assets/logo_narrow.png" /> </a>
</div>
<div class="list-group-item profile-item small">
    <i class="fas fa-user mr-2"></i>{{ userDisplayName ? (userDisplayName | truncate: 18) : "" }}
    <div class="profile-actions">
        <a routerLink="/settings"><i class="fas fa-cog mr-2 text-muted"></i></a>
        <i class="fas fa-sign-out-alt clickable text-danger" (click)="doLogOut()"></i>
    </div>
</div>
<cb-universe-list [universes]="universes"></cb-universe-list>
<a class="list-group-item list-group-item-action text-primary text-center create" routerLink="/u/new">
    <i class="fas fa-plus mr-2"></i>Create a new universe...
</a>
<p class="text-center mt-auto pt-3 text-muted">
    <a
        href="https://github.com/Fraedon/characterbase/blob/master/CHANGELOG.md"
        target="_blank"
        class="mr-2 pr-2 border-right"
    >
        Version {{ version }}
    </a>
    <a href="https://github.com/Fraedon/characterbase" target="_blank"><i class="fab fa-github"></i></a>
</p>
