.list-group-item {
    z-index: 2 !important;
    text-decoration: inherit;
}

.logo {
    width: 198px;
}

.profile-item {
    padding: 0.4rem 1.25rem;
    display: flex;
    min-height: 48px;
    align-items: center;
}

.profile-actions {
    font-size: inherit !important;
    line-height: inherit !important;
    margin-left: auto;
}

:host {
    grid-area: sidebar;
}

.create {
    z-index: 0;
}
