.list-group-item {
    z-index: 2 !important;
    text-decoration: inherit;
}

.logo {
    width: 198px;
}

.profile-item {
    padding: .4rem 1.25rem;
    display: flex;
    align-items: center;
}

.logout-button {
    font-size: inherit!important;
    line-height: inherit!important;
    margin-left: auto;
}