<button
    type="button"
    class="btn btn-link card-link text-dark upload"
    [class.has-image]="imageSrc || (initialImage && !initialImageDeleted)"
    (click)="f.click()"
>
    <i class="fas fa-upload mr-2"></i>Upload {{ title | titlecase }}
</button>
<button
    *ngIf="canDelete"
    type="button"
    class="btn btn-link text-danger card-link p-0 delete"
    (click)="removeImage(true, true)"
>
    <i class="fas fa-times"></i>
</button>
<img
    class="card-img"
    [src]="imageSrc ? imageSrc : initialImage ? (!initialImageDeleted ? initialImage : '') : ''"
    [class.minimized]="canMinimize ? minimized : false"
    [class.clickable]="canMinimize"
    (click)="toggleMinimize()"
    [style.max-height.px]="i.complete ? i.naturalHeight : 0"
    (load)="broadcastChanges()"
    #i
/>
<div class="card-body p-2 text-center">
    <input type="file" class="custom-file-input d-none" accept="image/*" (change)="onUploadAvatar($event)" #f />
</div>
