<div class="container dashboard-container" *ngIf="(universe | async); let universe">
    <h1>
        <a routerLink="..">{{ universe.name }}</a
        ><i class="fas fa-angle-right ml-3 mr-3"></i>Edit
    </h1>
    <hr />
    <div class="settings-view">
        <div class="settings-nav mr-3">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item"><a class="nav-link" routerLink="general" routerLinkActive="active">General</a></li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="collaborators" routerLinkActive="active">Collaborators</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="guide" routerLinkActive="active">Character Guide</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="settings" routerLinkActive="active">Settings</a>
                </li>
            </ul>
        </div>
        <div class="settings-form" *ngIf="universe"><router-outlet></router-outlet></div>
    </div>
</div>
